{
  "$schema": "node_modules/wrangler/config-schema.json",
  "name": "{{SITE_NAME}}",
  "compatibility_date": "2026-05-01",
  "assets": {
    "directory": "./public",
    "not_found_handling": "404-page"
  }
}
