[build]
  publish = "public"
  command = "hugo --gc --minify"

[build.environment]
  HUGO_VERSION = "0.158.0"
  GO_VERSION = "1.23"

[context.production.environment]
  HUGO_ENV = "production"

[[edge_functions]]
  function = "auth"
  path = "/*"
